.card{
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #282828;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.poster {
    max-width: 180px;
}

.card-title {
    font-size: 18px;
    padding-right: 30px;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    position: relative;
}

.right-top {
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
}

.list-group{ 
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #222;
    border: 1px solid #282828;
}
.list-group-item:hover {
    background-color: #282828;
    color: #fff;
}

.right-top__btn, .raiting {
    padding: 2px 8px;
    border: none;
    border-radius: 4px;

} 
.raiting {
    margin-left: 5px
}
.right-top__btn {
    z-index: 10;
}
.right-top__btn>i {
    color: #fff;
}
