.slider-1 {
    background-image: url(../../images/slider-1.jpg);
}
.poster-slider {
    min-height: 400px;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}